myspringboot/src/main/resources/wsdl/alarmSync.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.ctsi.com.cn/webservices/service" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="NotifyAlarmSyncPortService" targetNamespace="http://www.ctsi.com.cn/webservices/service">
	<wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.ctsi.com.cn/webservices/service">
            <xs:element name="notifyAlarmSyncReq">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="alarmSyncOoperation" type="xs:int"/>
                        <xs:element name="businessType" type="xs:int"/>
                        <xs:element name="provinceSX" type="xs:string"/>
                        <xs:element name="alarmSyncSN" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="notifyAlarmSyncRsp">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="resultCode" type="xs:int"/>
                        <xs:element name="resultMsg" nillable="true" type="xs:string"/>
                        <xs:element name="timeStamp" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
	</wsdl:types>
    <wsdl:message name="notifyAlarmSyncResponse">
        <wsdl:part element="tns:notifyAlarmSyncRsp" name="notifyAlarmSyncRsp"> </wsdl:part>
    </wsdl:message>
    <wsdl:message name="notifyAlarmSync">
        <wsdl:part element="tns:notifyAlarmSyncReq" name="notifyAlarmSyncReq"> </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="NotifyAlarmSyncPort">
        <wsdl:operation name="notifyAlarmSync">
            <wsdl:input message="tns:notifyAlarmSync" name="notifyAlarmSync"> </wsdl:input>
            <wsdl:output message="tns:notifyAlarmSyncResponse" name="notifyAlarmSyncResponse"> </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="NotifyAlarmSyncPortServiceSoapBinding" type="tns:NotifyAlarmSyncPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="notifyAlarmSync">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="notifyAlarmSync">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="notifyAlarmSyncResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
	<wsdl:service name="NotifyAlarmSyncPortService">
		<wsdl:port binding="tns:NotifyAlarmSyncPortServiceSoapBinding" name="NotifyAlarmSyncPortSoap11">
			<soap:address location="http://localhost:8080/fums/ws/notifyAlarmSync" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>